# Django Core
Django>=5.0,<5.2
django-environ>=0.11.2
pydantic>=2.7.0

# Database (Turso Cloud libSQL)
django-libsql-backend>=0.1.0

# Background Tasks & Cache
celery>=5.4.0
redis>=5.0.4

# API & Serialization
djangorestframework>=3.15.1
drf-spectacular>=0.27.2

# Static Assets & Serving
whitenoise>=6.6.0

# Security & Cryptography
cryptography>=42.0.5

# Production Web Server & Storage
gunicorn>=22.0.0
django-storages[boto3]>=1.14.2
sentry-sdk>=2.0.1
